<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Appedo Test Env">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.resileo.seleniumweb.appedoRegistration"/>
	  <class name="com.resileo.seleniumweb.forgotPassword"/>
	  <class name="com.resileo.seleniumweb.appedoMenuMethodRunner"/>
	  <class name="com.resileo.seleniumweb.downloadAgents"/>
	  <class name="com.resileo.seleniumweb.selectTheme"/>
      <class name="com.resileo.seleniumweb.settingChangePassword"/>
	  <class name="com.resileo.seleniumweb.settingUpdateProfile"/>
	  <class name="com.resileo.seleniumweb.manageEnterpriseMethodRunner"/>
	  <class name="com.resileo.seleniumweb.alertSettingMethodRunner"/>
	  <class name="com.resileo.seleniumweb.alertSettingMobileMethodRunner"/>
	  <class name="com.resileo.seleniumweb.rumMethrodRunner"/>
	  <class name="com.resileo.seleniumweb.methodRunnerDashboard"/>
	  <class name="com.resileo.seleniumweb.rumEnterpriseMethodRunner"/>
	  <class name="com.resileo.seleniumweb.rumUserEnterpriseRunner"/>
	  <class name="com.resileo.seleniumweb.sumEnterpriseOwner"/>
	  <class name="com.resileo.seleniumweb.sumEnterpriseUser"/>
	  <class name="com.resileo.seleniumweb.viewSUMGraph"/>
    </classes>
  </test> <!-- Test Env balaji -->
</suite> <!-- Appedo -->
