<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Appedo Test Env">
 <!--   <listeners>
         <listener class-name="com.resileo.seleniumweb.TestNGCustomReportListener" />
    </listeners> -->
  <test thread-count="2" name="Appedo Test Env">
    <classes>
      <class name="com.resileo.seleniumweb.appedoRegistration"/>
      <class name="com.resileo.seleniumweb.forgotPassword"/>
      <class name="com.resileo.seleniumweb.appedoMenuMethodRunner"/>
      <class name="com.resileo.seleniumweb.downloadAgents"/>
      <class name="com.resileo.seleniumweb.selectTheme"/>
      <class name="com.resileo.seleniumweb.settingChangePassword"/>
      <class name="com.resileo.seleniumweb.settingUpdateProfile"/>
      <class name="com.resileo.seleniumweb.manageEnterpriseMethodRunner"/>
      <class name="com.resileo.seleniumweb.alertSettingMethodRunner"/>
      <class name="com.resileo.seleniumweb.alertSettingMobileMethodRunner"/>
      <class name="com.resileo.seleniumweb.rumMethodRunner"/>
      <class name="com.resileo.seleniumweb.methodRunnerDashboard"/>
      <class name="com.resileo.seleniumweb.rumEnterpriseMethodRunner"/>
      <class name="com.resileo.seleniumweb.rumUserEnterpriseRunner"/>
    </classes>
  </test> 
</suite> <!-- Appedo Test Env -->
